/* Universal Styles */

body {
font-size: 16px;
font-family: "Helvetica", Ariel, sans-serif;
}

a:link {
    text-decoration: none;
}


/* Header */

header {
  position: fixed;
  width: 100%;
  background-color: white;
}

header .container {
  display: flex;
  align-items: center;
  height: 4rem;
  margin: 0 1.5rem;
}

header .logo {
  flex: 1;
  height: 2rem;
  display: flex;
  align-items: center;
}

span#logo-bold {
  font-weight: 800;
}

span#logo-reg {
  font-weight: 400;
  color: dimgray;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
  font-family: ;
  line-height: 1.6;
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  font-family: ;
  text-decoration: none;
  color: black;
}

nav a {
  text-decoration: none;
  color: black;
}

/* Main Banner */



/* About Section */



/* Courses Section */



/* Thesis Section */




/* Footer */

footer {
  height: 100%;
  background-color: lightgray;
}

.footer-menu {
  display: flex;
  align-items: center;
  height: 4rem;
  margin: 1rem 1.5rem 2.25rem 1.5rem;
}

footer span {
  display: block;
  width: 100%;
}

footer nav {
  display: block;
  width: 100%;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
}

footer nav li {
  text-decoration: none;
  color: black;
}
