/* Universal Styles */

body {
font-size: 16px;
font-family: "Helvetica", Ariel, sans-serif;
}

a:link {
    text-decoration: none;
}


/* Header */

header {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0px;
}

header .container {
  display: flex;
  align-items: center;
  height: 4rem;
  margin: 0 1.5rem;
}

header .logo {
  flex: 1;
  height: 2rem;
  display: flex;
  align-items: center;
}

span#logo-bold {
  font-weight: 800;
}

span#logo-reg {
  font-weight: 400;
  color: dimgray;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
  font-family: ;
  line-height: 1.6;
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  font-family: ;
  text-decoration: none;
  color: black;
}

nav a {
  text-decoration: none;
  color: black;
}

/* Main Banner */

.main-banner {
  background-color: lightgray;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-banner .image-container {
  width: 60%;
  height: auto;
  margin: 4rem 1.5rem 2rem 1.5rem;
}

.main-banner img {
  display: block;
  max-width: 100%;
}

.main-banner-info {
  display: block;
  width: 20%;
  margin-left: 1rem;
}

.main-banner-info h1 {
  display: block;
  font-weight: 800;
  font-size: 3rem;
  color: gray;
}

.main-banner-info p {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  margin: 2rem 0 2rem 0;
}

.main-banner-info h3 {
  display: block;
  background-color: gray;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem;
}

/* About Section */

.information {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.about-section-header {
  background-color: white;
 display: flex;
 flex-direction: column;
 width: 60%;
 margin: 2rem 1.5rem 2rem 1.5rem;
}


.about-section-header img {
  display: block;
  max-width: 100%;
  height: auto;
}

.about-section-header  .image-container h2 {
  margin: 2rem 0 1.5rem 0;
}

.about-section-header  .image-container p {
  margin: 1.5rem 0 1.5rem 0;
}

.about-section-header  .image-container span {
  margin: 2rem 0 2rem 0;
}

.about-section-menu {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 1rem;
  padding-bottom: 32px;
}

.orientation, .campus, .lectures {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 1rem;
  max-width: 26rem;
}

.orientation img {

  height: auto;
}

.about-info {
  pdding: 8px; 16px;
}

.about-section-container {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.about-section-menu .image-container {
  height: auto;
  margin: 1rem;
  width: 35%;
}

.about-section-menu img {
  display: block;
  max-width: 100%;
}

.about-section-menu .about-info {
    width: 65%;
    display: block;
}


/* Courses Section */

.featured-course {
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.featured-course h1 {
  text-align: center;
  width: 100%;
  margin-top: 2rem;
}

.course-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 4.5rem;
  width: 100%;
}

.course {
  display: block;
  width: 22rem;
  height: 20rem;
  margin: 0 1rem 1rem 0;
  background-color: white;
}

.course-info {
  display: block;
}

.course-info img {
  display: block;
  width: 100%;
  height: auto;
}



/* Thesis Section */

.featured-thesis {
  background-color: white
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.featured-thesis h2 {
  text-align: center;
  width: 100%;
  margin-top: 2rem;
}

.thesis-information {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 1.5rem 2rem;
  padding: 0;
}

.thesis-info p {
  width: 20rem;
  display: block;
}

.exhibition-vid video {
  width: 60%;
  height: auto;
}

/* Footer */

footer {
  height: 100%;
  background-color: lightgray;
}

footer:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 99%;
    padding-top: ;
    border-bottom: 1px solid black;
}

.footer-menu {
  display: flex;
  align-items: center;
  height: 4rem;
  margin: 1rem 1.5rem 2.25rem 1.5rem;
}

footer span {
  display: block;
  width: 100%;
}

footer nav {
  display: block;
  width: 100%;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
}

footer nav li {
  text-decoration: none;
  color: black;
}
